* {
  overflow-x: hidden;
}
body {
  background-color: #0a122a;
  font-family: "JetBrains Mono", monospace;
}

h1 {
  overflow-y: hidden;
}

.content {
  margin-top: 100px;
}

.info h1 {
  color: #aeb4a9;
}

.info p {
  color: #136f63;
}

.scrolled {
  background-color: #152453;
}

.forms {
  background-color: #0a122a;
}

#navbar-title {
  color: #3066be;
  font-size: 1.25em;
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
}

#navbar-title:hover {
  color: #136f63;
}

#navbar {
  transition: background 250ms;
}

#navbar .nav-link {
  color: #aeb4a9;
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
}

#navbar .nav-link:hover {
  color: #136f63;
}

#heading-grp h1 {
  color: #aeb4a9;
  font-weight: 400;
  font-size: 4rem;
}

#heading-grp span {
  color: #3066be;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #4c4c9d;
  align-items: center;
  margin-top: 50px;
}

#footer ul li {
  display: inline;
  font-size: 2.5rem;
  text-align: center;
}

#footer ul {
  margin: 0;
}

#footer p {
  align-self: flex-end;
  flex: 0 0 100%;
  font-size: 1.25rem;
}

@media (max-width: 1180px) {
  #heading-grp h1 {
    font-weight: 100;
    font-size: 3rem;
  }
  .headings h1 {
    font-size: 2.5rem;
  }
}
